@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

:root{
    --primary-color:#1f80a3;
    --secondary-color:#94a3b8;
    --grey :#cbd5e1;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.heading {
   color: var(--secondary-color);
}

.inline-list {
    color: white;
    display: inline;
}

hr{
    margin: 1rem 0rem;
}

.container{
    padding: 1rem 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

.container-1{
    background-color:var(--grey) ;
}
.center-container{
    margin:auto;
    max-width: 600px;
    padding: 0.5rem 1rem;
    
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    padding: 0rem 0.5rem;
}

.primary-link {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: solid var(--primary-color);
    padding: 0.5rem 0.5rem;
}

.secondary-link {
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    border: solid var(--primary-color);
    padding: 0.5rem 0.5rem;
}

nav {
    background-color: var(--primary-color);
    padding: 0.7rem 4rem;
    color: var(--grey);
    margin: auto;
    width: 600;
    border-bottom-left-radius: 2rem;
}
nav a{
    text-decoration: none;
    color: white;
   
}

nav .link-active{
    font-weight: bold;
}
nav ul {
    text-align: right;  
    padding-right: 1rem;  
}

.nav-heading {
    font-weight: bold;
    font-size: x-large;
}

/* header */

header {
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 20px;
}
header span {
    color: var(--primary-color);
    
}

header img{
    margin: auto;
    text-align: center;
    padding: 1rem 0rem;
    max-width: 90%;
    width: 500px;
    display: block;
}
header h3 {
    max-width: 90%;
    width: 500px;
    display: block;
    text-align: right;
    padding: 1rem 0rem;
    margin: auto;
}

/* section */

.off-white {
    background-color: var(--grey);
}

/* footer */

footer{
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    color: var(--grey);    
    border-top-right-radius: 2rem;
    text-align: center;
}

footer div {
    font-weight: bold;
    color: white;
}

footer ul {
    padding-inline-start: 0px;
}

