@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

:root{
    --primary-color:#1f80a3;
    --secondary-color:#94a3b8;
    --grey :#cbd5e1;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.heading {
   color: var(--secondary-color);
}

hr{
    margin: 1rem 0rem;
}

.container{
    padding: 1rem 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:var(--grey) ;
}

.center-container{
    margin:auto;
    max-width: 600px;
    padding: 0.5rem 1rem;
}